@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montaga&display=swap');

:root {
  --foreground: #000000;
  --background: #ffffff;
}

html,body {
  font-family: 'Montaga', 'Aboreto', Arial, Helvetica, sans-serif;
  padding: 0;
  margin : 0;
  
}

.clip-hexagon {
  clip-path: polygon(
    25% 5.77%, 75% 5.77%,
    100% 50%, 75% 94.23%,
    25% 94.23%, 0% 50%
  );
}
html {
  scroll-behavior: smooth;
}
